{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<div class="container mt-0">
    <h1 style="background-color: rgb(0, 0, 0); color: white; padding: 20px; text-align: center;">
        {{ post.title }}
    </h1>
    <div class="selected-post-card" style="margin: 0 auto; padding: 0; background-color: rgb(000); object-fit: contain;">
        <div class="selected-image-container">
            <img src="{{ post.images.url }}" class="post-thumbnail" alt="Post image">
        </div>
    </div>
    <h5 class="card-title mb-1" style="background-color: rgb(0, 0, 0); color: white; padding: 20px;">
        {{ post.content|safe }}
    </h5>
</div>
{% endblock %}